html {
  color: #000;
  font: normal normal 16px 'arial';
}

body {
  background-image: url('./img/dumpify_big.png');
  background-size: contain;
  margin: 0 10px;
}

#login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

#loginbtn, .textinput {
  box-shadow: 3px 5px #000;
  box-sizing: border-box;
  border-color: #000;
  min-height: 35px;
  margin: 5px 0;
  padding: 0 5px;
  width: 80vw;
/*width: 100%;*/
font-size: 20px;
}

#loginbtn {
  background-color: #fff;
  color: #999;
  /* font: normal bold 16px 'arial'; */
  text-align: right;
  font-weight: bold;
}

#head {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: 5px;
/*overflow: hidden;*/
}

#subhead {
/*background-color: purple;*/
/*color: #fff;*/
  flex-shrink: 0;
  font: normal bold 16px 'arial';
  margin-bottom: 10px;
/*overflow: hidden;*/
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#subname {
  background-color: #fff;
  box-shadow: 3px 5px #000;
  border: 2px solid #000;
  padding: 3px;
/*float: right;*/
}

#subteam {
  background-color: #fff;
  box-shadow: 3px 5px #000;
  border: 2px solid #000;
  padding: 3px;
}

#stats {
  background-color: #fff;
  box-shadow: 3px 5px #000;
  border: 2px solid #000;
  padding: 5px 5px 3px 5px;
/*background-color: #0099cc;*/
/*color: #fff;*/
  cursor: default;
/*display: inline-block;*/
/*float: right;*/
  margin-bottom: 10px;
  text-align: right;
}

#escapebtn {
  background-color: #fff;
  box-shadow: 3px 5px #000;
  border: 2px solid #000;
/*background-color: #f21c0d;*/
/*border: 1px solid #fff;*/
  cursor: pointer;
  margin: 0 0 10px 0;
  padding: 5px 5px 3px 5px;
  height: 16px;
  width: 16px;
}

#escapebtn:hover {
  background-color: rgba(0,0,0,.1);
}

.filebox {
  background-color: #fff;
/*border: 2px solid #4CAF50;*/
  /* border: 1px solid #fff; */
  border: 2px solid #000;
  padding: 5px 5px 3px 5px;
/*box-sizing: padding-box;*/
  margin-bottom: 10px;
/*min-height: 10px;*/
/*overflow: hidden;*/
  padding: 10px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 5px #000;
  overflow-x: visible !important;
}

.msgbox {
/*color: #fff;*/
  cursor: default;
  font: normal bold 16px 'arial';
  overflow: hidden;
}

.message {
  word-wrap: break-word;
}

.trashbtn {
  cursor: pointer;
  display: none;
  margin-right: 10px;
  min-height: 12px;
}

.trashlabel {
/*color: #fff;*/
  cursor: default;
  display: none;
}

.savebtn {
/*align-self: flex-start;
  background-color: #4CAF50;*/
  border: 1px solid #fff;
  cursor: pointer;
/*float: right;
  margin: 0 0 0 auto;*/
  margin-left: 10px;
  padding: 5px;
/*text-align: center;*/
  min-height: 24px;
}

.savebtn:hover {
  background-color: rgba(0,0,0,.1);
}

.saveicon {
  height: 14px;
  margin: 0 10px;
}

#peericon  {
  height: 14px;
  margin: 0 5px 0 0;
}

#suppliedicon {
  height: 14px;
  margin: 0 2px 0 10px;
}

.typeicon {
  height: 14px;
  margin-left: 5px;
}

#dump {
  background-color: #fff;
/*background-color: gold;*/
/*border: 2px solid #fff;*/
/*color: #fff;*/
  cursor: default;
  font: normal bold 40px 'arial';
  flex-shrink: 0;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logintitle {
  cursor: default;
  font: normal bold 40px 'arial';
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
}

#main {
  /*display: flex;
  flex-direction: column;*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#board {
/*flex: 2;
  overflow: auto;
  make this stretch to bottom of viewport*/
/*border: 2px dotted #fff;*/
  flex-grow: 1;
  margin-bottom: 10px;
  /* overflow-y: auto; */
  overflow-x: visible;
/*height: 100px;*/

}

@media only screen and (min-width: 300px) {
  #dump, #logintitle { font: normal bold 56px 'arial'; }
}

@media only screen and (min-width: 370px) {
  #dump, #logintitle { font: normal bold 64px 'arial'; }
  .trashlabel { font-size: 14px; }
}
